<div class="container">
  <h2>Detaljer</h2>
  <p>*Velg lånetaker på forsiden for å få detaljer om lånet.</p>

  <form *ngIf="item">
    <div class="form-group">
      <label>Lånetaker id </label>
      <input class="form-control" type="text" placeholder="{{ item.id }}" />
    </div>

    <div class="form-group">
      <label>Lånetakere</label>
      <input
        class="form-control"
        type="text"
        placeholder="{{ item.lanetakere.toString() }}"
      />
    </div>

    <div class="form-group">
      <label>Lånebeløp</label>
      <input
        class="form-control"
        type="number"
        placeholder="{{ item.lanebelop }}"
      />
    </div>

    <div class="form-group">
      <label>Notat</label>
      <input class="form-control" type="text" placeholder="{{ item.notat }}" />
    </div>

    <button class="btn btn-primary" type="submit">Oppdater</button>
  </form>
</div>
