<div class="container">
  <h2>Detaljer</h2>
  <p>*Velg lånetaker på forsiden for å få detaljer om lånet.</p>

  <form
    *ngIf="item"
    [formGroup]="loanDetailsForm"
    (ngSubmit)="onSubmit(loanDetailsForm.value)"
  >
    <div class="form-group">
      <label>Lånetaker id </label>
      <input class="form-control" type="hidden" disabled formControlName="id" />
    </div>

    <div class="form-group">
      <label>Lånetakere</label>
      <input formControlName="lanetakere" class="form-control" />
    </div>

    <div class="form-group">
      <label>Lånebeløp</label>
      <input class="form-control" formControlName="lanebelop" />
    </div>

    <div class="form-group">
      <label>Notat</label>
      <input class="form-control" formControlName="notat" />
    </div>

    <button class="btn btn-primary" type="submit">Oppdater</button>
  </form>
</div>
