h2 {
  color: #82b55d;
  margin-top: 20px;
}

h3 {
  color: #2b4554;
}

.btn {
  background-color: #2b4554;
  color: white;
  border: 3px solid #2b4554;
  font-weight: bold;
  text-transform: uppercase;
}
.btn:hover {
  color: #2b4554;
  background-color: white;
}
